language: ruby
script: rspec spec
gemfile: 
  - gemfiles/activerecord-3.0
  - gemfiles/activerecord-4.0
rvm:
  - '1.9.2'
  - '1.9.3'
  - '2.0.0'
  - jruby-19mode
  - jruby-20mode
matrix:
  exclude:
    # ActiveRecord 4.0 requires Ruby 1.9.3 or better
    - rvm: 1.9.2
      gemfile: gemfiles/activerecord-4.0
